.data-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-around;
    margin-top: 50px;
}
.item-container{
    width: 300px;
    display: flex;
    row-gap: 10px;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    color: rgb(100, 100, 100);
    padding: 15px;
    border-radius: 18px;
    background: #e0e0e0;
    box-shadow:  24px 24px 48px #bebebe,
             -24px -24px 48px #ffffff;
             background-color: white;
}
.name-country{
    font-size: 19px;
    text-align: center;
    color: black;
    font-weight: 600;
}
.region-sub{
    display: flex;
    width: 100%;
    text-align: center;
}
.region{
    width: 50%;
    border-right: 1px solid black;
}
.subregion{
width: 50%;
}
.refresh-btn{
    position: absolute;
    right: 20px;
    user-select: none;
    cursor: pointer;
    background-color: rgb(0, 23, 233);
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
}
.item-container1{
    width: 300px;
    display: flex;
    row-gap: 10px;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    color: rgb(100, 100, 100);
    padding: 15px;
    border-radius: 18px;
    animation: animation1 1s linear infinite ;
    background: #e0e0e0;
    box-shadow:  24px 24px 48px #bebebe,
             -24px -24px 48px #ffffff;
             background-color: white;
}
@keyframes animation1 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}